name: petank
description: "Offline Android app for petanque tournament management."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  drift: ^2.23.0
  sqlite3_flutter_libs: ^0.5.27
  path: ^1.9.0
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  drift_dev: ^2.23.0
  build_runner: ^2.4.14

flutter:
  uses-material-design: true
